extends layout

block content
    mixin header('index')

    .page.config
        a.btn.right(href='/') &lArr; Home
        h2.center Resizive Config

        form.configForm(method='post', action='#')
            label
               | Increment Size in PX (Animation)
               input.integerOnly(type='text', name='increment')
            label
               | Transition Duration in MS (Animation)
               input.integerOnly(type='text', name='duration')
            label
               | Increment Size in PX (Button Press)
               input.integerOnly(type='text', name='stepincrement')
            label
               | Transition Duration in MS (Button Press)
               input.integerOnly(type='text', name='stepduration')
            label
               | Show Scrollbars?
               input.scrollbars(type='checkbox', name='scrollbars')
            label
               | Show Rulers?
               input.rulers(type='checkbox', name='rulers')
            label
               | Snap To Increment?
               input.snap(type='checkbox', name='snap')
            input.btn.submit(type='submit')
            .succes.invisible Your config values have been saved.

        include ./footer.jade
