mixin select(name, values)
    select.leftSpace.integerOnly(name=name)
        each val in values
            option(value=val.v)=val.t

extends layout

block content
    +header('index')

    .page.config
        a.btn.right(href='/') &lArr; Home
        h2.center Resizive Config

        form.configForm(method='post', action='#')
            label
               | Increment Size For Animation
               +select('animation_increment', [{v:20, t:'Smaller (20px)'}, {v:35, t:'Normal (35px)'}, {v:50, t:'Larger (50px)'}])
            label
               | Transition Duration For Animation
               +select('animation_duration', [{v:50, t:'Smaller (50ms)'}, {v:75, t:'Normal (75ms)'}, {v:100, t:'Larger (100ms)'}])
            label
               | Increment Size For Button Press
               +select('step_increment', [{v:5, t:'Smaller (5px)'}, {v:10, t:'Normal (10px)'}, {v:20, t:'Larger (20px)'}])
            label
               | Transition Duration For Button Press
               +select('step_duration', [{v:50, t:'Smaller (50ms)'}, {v:100, t:'Normal (100ms)'}, {v:200, t:'Larger (200ms)'}])
            label
               | Show Scrollbars?
               input.leftSpace.scrollbars(type='checkbox', name='scrollbars')
            label
               | Show Rulers?
               input.leftSpace.rulers(type='checkbox', name='rulers')
            label
               | Snap To Increment?
               input.leftSpace.snap(type='checkbox', name='snap')
            input.btn.submit(type='submit')
            .succes.invisible Your config values have been saved.

        include ./footer.jade
