extends layout

block content
    mixin header('secondary')

    .page.config
        a.btn.right(href='/') &lArr; Home
        h2.center Resizive Config

        form.configForm(method='post', action='/config/set')
            label
               | Increment Size
               input(type='text', value='50', name='increment')
            label
               | Animation Speed (ms)
               input(type='text', value='50', name='speed')
            label
               | Show Scrollbars?
               input.scrollbars(type='checkbox')
            label
               | Show Rulers?
               input.rulers(type='checkbox')
            input.btn.submit(type='submit')

        include ./footer.jade
