extends layout

block content
    mixin header('secondary')

    .page

        h1.center.error-shrug ¯\_(ツ)_/¯
        if error
            h2.center Error #{error.status}
        if message
            p.center=message

        p.center Something went wrong. Was it you? Maybe me? Alright, let's call it a draw.
            br
            span.font-small (It was probably me)

        include ./footer.jade
