extends layout

block content
    mixin header(true)

    div(class='page')
        p(class='center') For best results, set your browser to the widest width you wish to check (or simply fullscreen/maximize it)
        include ./footer.jade