mixin header(page_type)
    header.header
        .titleContainer
            h1.sitetitle(title='Resize Responsive Websites')
                a(href='/') Resizive
        .data-entry.left-space
            if page_type == 'index'
                form(method='get', action='/resizing')
                    input.url-entry(type='url', name='url', placeholder='Enter Website URL')
                    button.btn.btn-load.left-space(type='submit') Go
                    a.btn.font-large.left-space(href='/config', title='Set Config Data') &#9881;
            if page_type == 'resizing'
                .button-row.left-space
                    button.btn.btn-start
                        span S
                        | tart
                    button.btn.btn-resume.hidden
                        span R
                        | esume
                    button.btn.btn-pause
                        span P
                        | ause
                    button.btn.btn-left.left-space
                        span &larr;
                    .stacked
                        button.btn.btn-up.half-height
                            span &uarr;
                        button.btn.btn-down.half-height
                            span &darr;
                    button.btn.btn-right
                        span &rarr;
                input.show-width.left-space(type='text', title='Set A Specific Width (PX)')
                | x
                input.show-height.left-space(type='text', title='Set A Specific Width (PX)')
                button.btn.btn-refresh.left-space
                    .text.font-large &#8635;
                button.btn.btn-rotate.left-space Rotate

doctype html
html
    head
        title= title
        meta(charset='utf-8')
        meta(author='Bradley Staples')
        meta(description='Enables easier detection of content-based breakpoints for media queries in regards to responsively designed fluid-width websites.')
        meta(viewport='width=device-width, initial-scale=1.0')
        link(rel='image_src', href='/images/resizive.png')
        link(rel='stylesheet', href='/stylesheets/resizive.css')
        link(rel='canonical', href='http://resizive.com')
        link(rel='shortcut', href='/favicon.ico')
    body
        block content
        script(src='https://code.jquery.com/jquery-2.1.4.min.js')
        script.
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-31105536-1']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        script(src='/javascripts/storage.js')
        script(src='/javascripts/config.js')
        if extra_scripts
            script(src='/javascripts/keyboard.js')
            script(src='/javascripts/jquery-ui.js')
            script(src='/javascripts/resizer.js')
            script.
                $(function () {
                    window.resizive = new Resizive('#{url}');
                });

