mixin header(page_type)
    header.header
        .titleContainer
            h1.siteTitle(title='Resize Responsive Websites')
                a(href='/') Resizive
        .dataEntry.leftSpace
            if page_type == 'index'
                form(method='get', action='/resizing')
                    input.urlEntry(type='url', name='url', placeholder='Enter Website URL')
                    button.btn.btn-load.leftSpace(type='submit') Go
                    a.btn.fontLarge.leftSpace(href='/config', title='Set Config Data') &#9881;
            if page_type == 'resizing'
                .buttonRow.leftSpace
                    button.btn.btnStart
                        span S
                        | tart
                    button.btn.btnResume.hidden
                        span R
                        | esume
                    button.btn.btnPause
                        span P
                        | ause
                    button.btn.btnLeft.leftSpace
                        span &larr;
                    .stacked
                        button.btn.btnUp.halfHeight
                            span &uarr;
                        button.btn.btnDown.halfHeight
                            span &darr;
                    button.btn.btnRight
                        span &rarr;
                input.showWidth.leftSpace(type='text', title='Set A Specific Width (PX)')
                | x
                input.showHeight.leftSpace(type='text', title='Set A Specific Width (PX)')
                button.btn.btnRefresh.leftSpace
                    .text.fontLarge &#8635;
                button.btn.btnRotate.leftSpace Rotate

doctype html
html
    head
        title= title
        meta(charset='utf-8')
        meta(author='Bradley Staples')
        meta(description='Enables easier detection of content-based breakpoints for media queries in regards to responsively designed fluid-width websites.')
        meta(viewport='width=device-width, initial-scale=1.0')
        link(rel='image_src', href='/images/resizive.png')
        link(rel='stylesheet', href='/stylesheets/resizive.css')
        link(rel='canonical', href='http://resizive.com')
        link(rel='shortcut', href='/favicon.ico')
    body
        block content
        script(src='https://code.jquery.com/jquery-2.1.4.min.js')
        script.
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-31105536-1']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        script(src='/javascripts/storage.js')
        script(src='/javascripts/config.js')
        if extra_scripts
            script(src='/javascripts/keyboard.js')
            script(src='/javascripts/jquery-ui.js')
            script(src='/javascripts/resizer.js')
            script.
                $(function () {
                    window.resizive = new Resizive('#{url}');
                });

