extends layout

block content
    mixin header('resizing')

    .resizing.page

        .resizerContainer
            iframe.resizer(frameborder='0', width='100%', height='600', src='#{url}')
            .resize-control.vertical
            .resize-control.horizontal

        script(src='/javascripts/dragdealer.js')
        script(src='/javascripts/keyboard.js')
        script(src='/javascripts/resizer.js')
