extends layout

block content
    +header('resizing')
    .rulers
        .rulerHorizontal
        .rulerVertical
        .resizerContainer.transitionable
            img.loading(src='/images/throbber.svg', width='48', height='48')
            .frame
                iframe.resizer.hidden(src='#{url}', height='100%', frameborder='0')
