extends layout

block content
    mixin header('resizing')

    .resizerContainer
        img.loading(src='/images/throbber.svg', width='48', height='48')
        iframe.resizer.hidden(frameborder='0', width='100%', height='600', src='#{url}')
