.page {
    width: 100%;
    max-width: 62rem;
    min-width: 19rem;
    margin: 2rem auto;
    background: #f8f8f8;
    color: $dark_gray;
    border-radius: .25rem;
    padding: 1rem;
    // @include box-shadow(rgba($blue, .75) 0 0 .25rem);
}

.about {

    code {
        font: 1rem Courier, monospace;
        color: $blue;
    }

    a {
        color: $blue;
        &:hover {
            color: $blue;
        }
    }

    .controls {
        list-style: none;
    }
}